FoobarSDK/foobar2000/foobar2000_component_client/Debug
FoobarSDK/foobar2000/foobar2000_component_client/Release
FoobarSDK/foobar2000/foobar2000_component_client/Release + CLR
FoobarSDK/foobar2000/SDK/Debug
FoobarSDK/foobar2000/SDK/Release
FoobarSDK/foobar2000/SDK/Release + CLR
FoobarSDK/pfc/Debug
FoobarSDK/pfc/Release
FoobarSDK/pfc/Release + CLR
foo_touchremote/foo_touchremote/Debug
foo_touchremote/foo_touchremote/Release
foo_touchremote/Debug
foo_touchremote/Release
foo_touchremote/Release + CLR
foo_touchremote/TouchRemote.Bonjour/bin
foo_touchremote/TouchRemote.Bonjour/obj
foo_touchremote/TouchRemote.Core/obj
foo_touchremote/TouchRemote.Core/bin
foo_touchremote/TouchRemote.Interfaces/bin
foo_touchremote/TouchRemote.Interfaces/obj
foo_touchremote/TouchRemote.Raop/obj
foo_touchremote/TouchRemote.Raop/bin
foo_touchremote/TouchRemote.Raop.Test/bin
foo_touchremote/TouchRemote.Raop.Test/obj
foo_touchremote.sdf
foo_touchremote.opensdf
*.suo
*.ncb
*.vcproj.user
*.csproj.user
*.vcxproj.user
